<% title "Placeholder Title" %>
<% description "Placeholder description." %>
<% keywords "Placeholder keywords" %>


<h1>Edit Comment</h1>
<%= simple_form_for ([ @topic, @comment]) do |t| %>
  <%= t.input :content, label: "Comments" %>
  <%= t.button :submit, class: "btn-custom"%>
<% end %>
